@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-1: #FFF6D8;
  --main-2: #FEE4C3;
}

html {
  min-height: 100vh;
  background: var(--main-1);
  background-size: contain;
}


a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}


html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

 .app .btn-toggle {
	 cursor: pointer;
	 display: none;
	 position: absolute;
	 left: 25px;
	 top: 33px;
	 z-index: 10;
}

  @media screen and (max-width: 768px) {
	.app .btn-toggle {
      display: flex;
	  /* z-index: 10000; */
    }
  }